@using TravelEurope.ViewModels
@{
    ViewData["Title"] = "TravelEurope";
    Layout = "RadnikPanelLayout";
}

<h2>Radnik panel</h2>
<h5>
    Dobro došli na radnički dio aplikacije.<br />
    Ovdje možete pogledati listu radnika, vozila, turist ruta, vozača, rezervacija i računa, kao i izvještaje.<br />
    Kao radnik također imate opciju dodavanja novih vozila, turist ruta, vozača, rezervacija računa, kao i izvještaja, te uređivanja i brisanja postojećih.<br />
</h5>
