@using TravelEurope.Areas.RadnikPanel.ViewModels
@model TravelEurope.Areas.RadnikPanel.ViewModels.GradoviIndexVM
@{
    ViewData["Title"] = "TravelEurope";
    Layout = "RadnikPanelLayout";
}
<h2>Lista gradova</h2>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Gradovi u kompaniji
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Država</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.Rows)
                    {
                        <tr>
                            <td>@x.Naziv</td>
                            <td>@x.Drzava</td>
                            <td>
                                <a asp-action="Uredi" asp-controller="Gradovi" asp-route-id="@x.GradId" class="btn btn-info font-sizes"><i class="fas fa-search icons-margin-right"></i> Uredi </a>
                                <a asp-action="Obrisi" asp-controller="Gradovi" asp-route-id="@x.GradId" class="btn btn-danger font-sizes"><i class="fas fa-delete icons-margin-right"></i> Obriši grad</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<a asp-action="Dodaj" asp-controller="Gradovi" class="btn btn-success  col-md-2 font-sizes"><i class="fas fa-plus-circle icons-margin-right"></i> Dodaj grad</a>

